.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredImg{
    width: 25vw;
    object-fit: cover;
}

.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 50vh;
}

.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 10px;
}